<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="galary">
      {% for img in images %}
        <a href="bigImg.php?name={{img.name}}"  target="_blank"  class="imgBlock">
          <img src="{{ img.path }}" alt="photo" class="img">
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>