<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    {% for el in arr %}
      <div class="block">
        <h3 class="name">{{ el.name }}</h3>
        <p class="desc">{{ el.desc }}</p>
      </div>
    {% endfor %}
    <button class="btn">More</button>
    <i class="n" style="display: none;">{{ num }}</i>
  </div>
  <script src="js/main.js"></script>
</body>
</html>